*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

/*HEADER*/

.header {
    font-family: 'Rubik';
    position: fixed;
    width: 100%;
    z-index: 1;
}

.teamName {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 19px;
    text-align: center;
    background-color: rgba(9, 157, 141, 0.98);
}

.teamName h1 {
    font-family: 'Rubik';
    font-size: 16px;
    text-align: center;
    font-weight: 400; 
}


.menu{
    width: 100%;
    height: 45px;
    background-color: rgba(20, 217, 196, 0.95);
    text-align: center;
    }


.barra--ul {
    width: 100%;
    padding: 10px;
    margin: 5px;
    text-align: center;
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    
}


.barra--ul li{
    margin-right: 20px;
}

/* removing link styles */
.nodeco{
    text-decoration: none;
}

.white-link, .white-link a {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400px;
}

/*SECTION HERO*/

.hero {
    width: 100%;
    height: 440px; 
    /* height 440px to shrink distance between claim and equipo title, measures approx */
}

.cover{
    background-image: url(../imagen/grupo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 421px;
    width: 100%;
}


.claim {
    position: relative;
    font-size: 18px;
    font-family: 'Rubik', 'Open Sans', 'sans-serif';
    padding: 15px 15px;
    box-sizing: border-box;
    color: black;
    background-color: white;
    text-align: center;
    top: -40px;
    width: 90%;
    margin: auto;
}

/*TEAM FORMAT AND GENERAL STYLES FOR TITLES AND PARAGRAPHS*/

#team {
    position: relative;
    /* relative because pseudo element triangle needs it */
}

.padding30{
    padding: 30px 0;
}

.title{
    font-family: 'Rubik', sans-serif;
    color: #099d8d;
    display: block;
    text-align: center;
    font-weight: normal;
}

.title1{
    font-size: 24px;
}

.title2{
    font-size: 22px;
}

.paragraph {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #54585a;
        text-align: center;
        width: 90%;
        margin: auto;
}

.padding15{
    padding: 15px 0;
}

.weak-strength {
    background-color: rgba(236, 233, 233, 0.89);
}

/* Strenghts and weaknesses-tablet and desktop version */
@media all and (min-width:768px) and (max-width:1200px){

    .padding30{
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .weak-strength {
        display: flex;
        justify-content: center;
        
    }
    .box1{
        max-width: 50%;
      
    }
    .box2{
        max-width: 50%;
        
    }

    .box1_pa{
        margin-left: auto;
        margin-right: 15px;
    }
    .box2_pa{
        margin-left: 15px;
        margin-right: auto;
    }
}
@media all and (min-width:1200px){

    .padding30{
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .weak-strength {
        display: flex;
        justify-content: center;
        
    }
    .box1{
        max-width: 50%;
      
    }
    .box2{
        max-width: 50%;
        
    }

    .box1_pa{
        margin-left: auto;
        margin-right: 22.5px;
    }
    .box2_pa{
        margin-left: 22.5px;
        margin-right: auto;
    }
}
/*...................................................... */

/* pseudo element triangle separator at the end of TEAM section */
#team:after {
    border-top: 30px solid #ffffff;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    bottom: -25px;
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -30px;
    width: 0;
    height: 0;
}


/* WHO WE ARE */

.quienessomos{
    background-color: #FFFFFF;
    text-align: center;
}

.ficha {
    padding: 15px 0;
}

.img{
    width: 180px;
    height: 180px;
    margin: auto;
    transform: rotate(90deg);
    border: solid rgba(236, 233, 233, 0.89) 5px;
    border-radius: 10px;
}

.imgEm{
    background: url("../imagen/emma.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}

.imgDesi{
    background: url("../imagen/desiree.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}

.imgKati{
    background: url("../imagen/katia.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}

.imgIn{
    background: url("../imagen/inma.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
}

.imgMa{
    background: url("../imagen/marina.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}

.name{
    padding: 15px 0;
    font-family:'Open Sans', sans-serif;
    font-size: 20px;
}

.social{
    margin: auto;   
    padding: 15px 0; 
}

.social span, i{
    font-size: 20px;
    color: #099d8d;
}

a{
    text-decoration: none;
}


/* FOOTER*/

.copyright{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #b8b8b9;
    border-top: 1px solid gray;
    padding: 10px 0;
    text-align: center;
}

small{
    font-size: 14px;
}


.foot a{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #54585a;
    display: block;
    text-align: center;
    font-weight: 600;
}

.logo{
    padding: 30px 0;
    text-align: center;
}

.adalab-logo {
    max-height: 45px;
}
