* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

/*HEADER*/

.header {
    font-family: 'Rubik';
    position: fixed;
    width: 100%;
    z-index: 1;
}

.teamName {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 19px;
    text-align: center;
    background-color: rgba(9, 157, 141, 0.98);
}

.teamName h1 {
    font-family: 'Rubik';
    font-size: 16px;
    text-align: center;
    font-weight: 500; 
}


.menu{
    width: 100%;
    height: 45px;
    background-color: rgba(20, 217, 196, 0.95);
    text-align: center;
    }


.barra--ul {
    width: 100%;
    padding: 10px;
    margin: 5px;
    text-align: center;
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}


.barra--ul li{
    margin-right: 20px;
}

/** seccion header**/
@media all and (min-width:768px){
    .header{
    display: flex;
    background-color: rgba(9, 157, 141, 0.98);
    
    }
   .teamName{
     display: flex; 
     align-items: flex-start;
     padding-left: 45px; 
     height: 60px;
     background: none;
   }
    .menu{
    height: 60px;
    background: none;
    margin-right: 25px;
  }
  .barra--ul{
    padding-top: 21px;
    display: flex;
    justify-content: flex-end;
    background: none;
    padding: 0;
    margin: 0;
    margin-top: 20.5px;

  }
  li{
      margin-right: 0;
  }
}

@media all and (min-width:1200px){
    .header{
        display: flex;
        background-color: rgba(9, 157, 141, 0.98);
        
        }
       .teamName{
         display: flex; 
         align-items: flex-start;
         padding-left: 138px; 
         height: 60px;
         background: none;
       }
        .menu{
        height: 60px;
        background: none;
        margin-right: 108px;
      }
      .barra--ul{
        padding-top: 21px;
        display: flex;
        justify-content: flex-end;
        background: none;
        padding: 0;
        margin: 0;
        margin-top: 20.5px;
    
      }
      li{
          margin-right: 0;
      }
    }  
/***********************************************/

/* removing link styles */
.nodeco{
    text-decoration: none;
}

.white-link, .white-link a {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
}

/*SECTION HERO*/

.hero {
    width: 100%;
    height: 421px; 
    
}

.hero--contact {
    width: 100%;
}


.cover{
    background-image: url(../images/grupo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 421px;
    width: 100%;
}

/* Media queries para hero version web 1200px */
@media all and(min-width: 1200px){
    .cover {
        height: 550px;
    }
}

.claim {
    position: relative;
    font-size: 18px;
    font-family: 'Rubik', 'Open Sans', 'sans-serif';
    padding: 15px 15px;
    box-sizing: border-box;
    color: black;
    background-color: white;
    text-align: center;
    top: -40px;
    width: 90%;
    margin: auto;
    font-weight: 500;
}

/* Media queries para tablet 768px */

@media all and (min-width: 768px) {
    .claim {
    text-align:start;
    margin-left: 45px;
    width: 441px;
    padding: 15px 30px;
    top: -95px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-color: rgba(231, 241, 240, 0.80);
}
}


/* Media queries para version web 1200px*/

@media all and(min-width: 1200px){
        .claim {
        text-align:start;
        margin-left: 138px;
        width: 441px;
        padding: 15px 30px;
        top: -95px;
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        background-color: rgba(231, 241, 240, 0.80);
    }
    }

/*TEAM FORMAT AND GENERAL STYLES FOR TITLES AND PARAGRAPHS*/

#team {
    position: relative;
    /* relative because pseudo element triangle needs it */
}

@media all and (min-width: 768px) {
    #team {
        width: 100%;
    }
    .padding45{
        padding: 45px 0 60px;
    }
}

/*Responsive para team 1200px*/

@media all and (min-width: 1200px) {
    #team {
        width: 100%;
        display: block;
        width: 601px;
        padding-bottom: 45px;
        margin: auto;
        margin-top: 129px;
    }
    .padding45{
        padding: 45px 0 15px;
    }
}
.padding45{
    padding: 67px 0 15px;
}

.padding30 {
    padding: 30px 0 15px;
}

.paddingweak {
    padding: 0 0 30px 0;
}

.padding--contact{
    padding: 30px 0 60px 0;
}

.title{
    font-family: 'Rubik', sans-serif;
    color: #099d8d;
    display: block;
    text-align: center;
    font-weight: 500;
}

.title1{
    font-size: 24px;
}

.title2{
    font-size: 22px;
}

.paragraph {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #54585a;
        text-align: center;
        width: 90%;
        margin: auto;
}

.padding15{
    padding: 15px 0;
}

.weak-strength {
    background-color: rgba(236, 233, 233, 0.89);
}

/* Strenghts and weaknesses-tablet and desktop version */
@media all and (min-width:768px){

    .padding30{
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .paddingbigscreen{
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .weak-strength {
        display: flex;

    }
    .box1{
        max-width: 50%;
    }
    .box2{
        max-width: 50%;
       
    }

    .box1_pa{
        margin-left: 45px;
        margin-right: 15px;
    
    }
    .box2_pa{
        margin-left: 15px;
        margin-right: 45px;
    
    }
}
@media all and (min-width:1200px){

    .padding30{
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .paddingbigscreen{
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .weak-strength {
        display: flex;
        justify-content: center;
        
    }
    .box1{
        max-width: 50%;
      
    }
    .box2{
        max-width: 50%;
        
    }

    .box1_pa{
        margin-left: auto;
        margin-right: 22.5px;
    }
    .box2_pa{
        margin-left: 22.5px;
        margin-right: auto;
    }
}
/*...................................................... */

/* pseudo element triangle separator at the end of TEAM section */
#team:after {
    border-top: 30px solid #ffffff;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    bottom: -25px;
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -25px;
    width: 0;
    height: 0;
}


/* WHO WE ARE */

.quienessomos{
    background-color: #FFFFFF;
    text-align: center;
}

.ficha {
    padding: 15px 0;
}


.img{
    width: 180px;
    height: 180px;
    margin: auto;
    transform: rotate(90deg);
    border: solid rgba(236, 233, 233, 0.89) 5px;
    border-radius: 10px;
}


.imgEm{
    background: url("../images/emma.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-0deg);
}

.imgDesi{
    background: url("../images/desiree.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-0deg);
}

.imgKati{
    background: url("../images/katia.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-0deg);
}

.imgIn{
    background: url("../images/inma.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-0deg);
}

.imgMa{
    background: url("../images/marina.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-0deg);
}

.name{
    padding: 15px 0;
    font-family:'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}


.social{
    margin: auto;   
    padding: 15px 0; 
}

@media all and (min-width: 768px){

    .quienessomos {
        margin: 45px;
    }
    .ficha{
        display: flex;
        width:100%;
        flex-direction: row;
        }
    .img{
        width: 205px;
        height: 205px;
        }
    .change{
        flex-direction: row-reverse;
    }
    .name{
        margin-left: 30px;
        text-align: left;
        }
    .social {
        display: flex;
        text-align: left;
        margin-left: 30px;
        padding-top: 15px;
        }
    .textquery {
        margin-left: 30px;
        text-align: left;
        max-width: 600px;
        width: 80%;
        }
    .change {
        flex-direction: row-reverse;
        }
    .sizephoto{
        flex-shrink: 0;
    }
    .alignreverse {
        justify-content: flex-end;
        text-align: right;
        margin-right: 30px;
        }
    .alineicon{
        align-self: flex-end;
    }
    .quienessomos {
        margin-bottom: 30px;
        }
}

@media all and (min-width: 1200px){

    .paragraph{
        width: 77%;
    }
    .ficha{
        padding: 0;
        padding-bottom: 60px;
    }
    .right{
        max-width: 762px;
    }
    .name {
        margin-left: 45px;
    }
    .title1 {
        margin: 45px 0;
    }
    .padding30{
        padding: 0;
    }
    .quienessomos {
        margin: 0 138px;
    }
    .img{
        width: 278px;
        height: 278px;
        flex-shrink: 0;
    }
    .social {
        display: flex;
        text-align: left;
        margin-left: 45px;
        padding-top: 15px;
    }
    .textquery {
        margin-left: 45px;
        max-width: 600px;
        width:100%;
        flex-direction: row;
    }
    .alignreverse {
        text-align: right;
        margin-right: 45px;
    }
}
.social span, i{
    font-size: 20px;
    color: #099d8d;
}

a{
    text-decoration: none;
}


/* FOOTER*/

.wrapper-footer {

    width: 90%;
    margin: auto;
    padding-bottom: 45px;
}


footer{
    border-top: 1px solid #b8b8b9;
}

.container-copy-nav{
    padding-bottom: 30px;
}
.copyright{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #b8b8b9;
    padding: 30px 0 20px 0;
    text-align: center;
}


.footer-nav {
    list-style: none;
}

.footer-nav a{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #b8b8b9;
    display: block;
    text-align: center;
    font-weight: 500;
}
.center{
    text-align: center;
}

.logo{
    text-align: center;
    margin-top: 30px;
}

.adalab-logo {
    max-height: 45px;
    max-width: 115.9px;
}

@media all and (min-width:768px) {


    .wrapper-footer{
        padding-bottom: 0;
    }

    .container-copy-nav {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        margin-top: 25px;
    }

    .footer-nav{
        margin-left: auto;
        display: inline-block;
        margin-bottom: 60px;
    }

    .footer-nav li{
        padding: 5px;
    }

    .footer-nav a{
        text-align: end;
    }

    .copyright{
        text-align: left;
        padding-top: 5px;
        height: 20px;
        padding-bottom: 0px;
        position: relative;
        left: -110px;
        max-height: 10px;
    }

    .logo{
        display: flex;
        align-self: center;
        order: -1;
        margin: 15px 0 40px 0;
    }

}

@media all and (min-width:1200px){
    .wrapper-footer {
        margin: 0 130px;
        width: inherit;

}

// CONTACT HTML

.cover--contact{
    background-image: url(../images/phonecall.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}



.asterisk-fields {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #54585a;
    padding: 30px 0 20px 0;
    text-align: center;
}

.asterisk {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #099d8d;
}

// CONTACT HTML media queries
@media all and (min-width: 768px) {
    .paragraph--contact__tablet{
        width: 442px;
    }
}


@media all and (min-width: 1200px) {
    .paragraph--contact__desktop{
        width: 601px;
    }

    .padding60{
        padding: 45px 0 60px;
    }

    .cover--height {
        height: 400px;
    }
}

}
