* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

@import 'layout/header';

@import 'layout/hero';

@import 'layout/team';

@import 'layout/weak-strength';

@import 'layout/whoweare';

@import 'layout/footer';

// CONTACT HTML

@import 'layout/text-contact.scss';
