<footer class="footer">
    <div class="wrapper-footer">

        <div class="container-copy-nav"> 
            <div class="copyright"><small>CHASING4CODE © 2018</small></div>
            <ul class="footer-nav">
                <li><a href="#team">EQUIPO</a></li>
                <li><a href="#whoWeAre">QUIENES SOMOS</a></li>
                <li><a href="contact.html">CONTACTO</a></li>
            </ul>
            <div class="logo"><a href="https://adalab.es" target="_blank"><img class="adalab-logo" src="assets/images/logo-adalab.png"
                alt="Logo-adalab"></a>
            </div>
        </div>
    </div>

</footer>