<section id="team" class="padding45">
    <h2 class="title title1">EQUIPO</h2>
    <p class="paragraph padding15">
        En 2018 cinco de las mejores coders del ejercito americano que formaban un comando, subieron a GitHub repositorios con el código más limpio jamás escrito y no tardaron en unirse a la familia Adalaber.</p>
        <p class="paragraph padding15">Hoy, creando webs únicas y jugando con snippets en CodePen, sobreviven como coders de fortuna. Si usted
        tiene algún problema y se las encuentra quizá pueda contratarlas...</p>
</section>