<section class="weak-strength">
    <div class="box paddingbigscreen">
        <h2 class="box1_pa title title2">Fortalezas</h2>
        <p class="box1_pa paragraph padding15 ">Creamos estructuras html que son amor de SEO; diseñamos apps creativas,
            responsive y accesibles; nuestro código JS es estimulante y envolvente. Tus amigos preguntarán por quién te
            ha hecho esa web tan guapa.</p>
    </div>
    <div class="box paddingweak paddingbigscreen">
        <h2 class="box2_pa title title2">Debilidades</h2>
        <p class="box2_pa paragraph padding15">Usamos memes para expresar emociones complejas, inventamos palabras en
            spanglish y perdemos la noción del espacio-tiempo creando código.</p>
    </div>
</section>
