<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chasing4Code</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:400,500" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>

    <header class="header">
        <div class="teamName">
            <a href="index.html" class="nodeco white-link">
                <h1>CHASING4CODE</h1>
            </a>
        </div>
            <nav class="menu">
                <ul class="barra--ul nodeco white-link">
                    <li><a href="#team">EQUIPO</a></li>
                    <li><a href="#whoWeAre">QUIENES SOMOS</a></li>
                    <li><a href="contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
    </header>

    <main>
        <section class="hero">
            <div class="cover"></div>
            <div class="claim">Tú pones la meta, nosotras el código</div>
        </section>

        <section id="team" class="padding45">
            <h2 class="title title1">EQUIPO</h2>
            <p class="paragraph padding15">
                En 2018 cinco de las mejores coders del ejercito americano que formaban un comando, subieron a GitHub repositorios con el código más limpio jamás escrito y no tardaron en unirse a la familia Adalaber.</p>
                <p class="paragraph padding15">Hoy, creando webs únicas y jugando con snippets en CodePen, sobreviven como coders de fortuna. Si usted
                tiene algún problema y se las encuentra quizá pueda contratarlas...</p>
        </section>

        <section class="weak-strength">
            <div class="box1 padding30">
                <h2 class="title title2">Fortalezas</h2>
                <p class="box1_pa paragraph padding15">Creamos estructuras html que son amor de SEO; diseñamos apps creativas, responsive y accesibles; nuestro código JS es estimulante y envolvente. Tus amigos preguntarán por quién te ha hecho esa web tan guapa.</p>
            </div>
            <div class="box2 paddingweak paddingbigscreen">
                <h2 class="title title2">Debilidades</h2>
                <p class="box2_pa paragraph padding15">Usamos memes para expresar emociones complejas, inventamos palabras en spanglish y perdemos la noción del espacio-tiempo creando código.</p>
            </div>
            </section>

        <section id="whoWeAre" class="padding30 quienessomos">
            <h2 class="title title1">QUIÉNES SOMOS</h2>
            <div class="ficha">
                <div class="img imgEm" >
                </div>
                <div class="data">
                    <h3 class="name">Emma Martín</h3>
                    <p class="paragraph textquery">Estudié filosofía y, gracias a eso, te explico tags, IDs, clases y elementos de html y css como si fuera una lección de ontología. Como Adalaber, diseñaré tu proyecto web combinando técnica, pasión y agilidad.</p>
                    <div class="social">
                        <a href="https://twitter.com/EmLemon_" target="_blank"><i class="fab fa-twitter"></i></a>
                        <span>·</span>
                        <a href="https://www.linkedin.com/in/emmamartín/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <span>·</span>
                        <a href="https://github.com/emma-martin" target="_blank"><i class="fab fa-github-alt"></i></a>
                        <span>·</span>
                        <a href="mailto:emmamartinalvarez@gmail.com"><i class="fas fa-envelope"></i></a>
                    </div>
                </div>
            </div> 
    
            <div class="ficha change">
                <div class="img imgDesi sizephoto">
                </div>
                <div class="data change">
                    <h3 class="name alignreverse">Desirée García</h3>
                    <p class="paragraph alignreverse">Era Ingeniería Química Industrial dedicada al sector de la innovación en regeneración de aguas residuales. La escasez de proyectos existentes en este sector, me ha llevado a querer reinventarme profesionalmente y ser programadora front-end es mi meta.</p>
                    <div class="social alignreverse">
                        <a href="https://twitter.com/desi_gc93" target="_blank"><i class="fab fa-twitter"></i></a>
                        <span>·</span>
                        <a href="https://www.linkedin.com/in/desir%C3%A9e-garc%C3%ADa-ca%C3%B1adas-805696154/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <span>·</span>
                        <a href="https://github.com/DesiGC" target="_blank"><i class="fab fa-github-alt"></i></a>
                        <span>·</span>
                        <a href="mailto:desi.gc93@gmail.com"><i class="fas fa-envelope"></i></a>
                    </div>
                </div>
            </div>

            <div class="ficha">
                <div class="img imgKati"> </div>

                <div class="data">
                    <h3 class="name">Katia Rojas</h3>
                    <p class="paragraph textquery">Antes de Adalab, trabajaba en Marketing en Desarrollo y Lanzamiento de Productos. Decidí estudiar front-end porque quiero ser parte del cambio tecnológico global. Ahora, me enfrento a este reto con creatividad, ganas y perseverancia.</p>
                <div class="social">
                    <a href="https://twitter.com/KatiaRojasSand1" target="_blank"><i class="fab fa-twitter"></i></a>
                    <span>·</span>
                    <a href="https://www.linkedin.com/in/katiarojassandoval/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <span>·</span>
                    <a href="https://github.com/katia1802" target="_blank"><i class="fab fa-github-alt"></i></a>
                    <span>·</span>
                    <a href="mailto:katia.rojas.sandoval@gmail.com"><i class="fas fa-envelope"></i></a>
                </div>
            </div>
            </div>
            <div class="ficha change">
                <div class="img imgIn sizephoto"></div>
                <div class="data">
                    <h3 class="name alignreverse">Inma Salcedo</h3>
                    <p class="paragraph  alignreverse">Licenciada en comunicación audiovisual, con experiencia en montaje de video y siempre buscando nuevos retos. La curiosidad me ha traído hasta el mundo del código y disfruto aprendiendo todos los días sobre este apasionante mundo.</p>
                    <div class="social alignreverse">
                        <a href=https://twitter.com/InmaSalcedo3 target="_blank"><i class="fab fa-twitter"></i></a>
                        <span>·</span>
                        <a href=https://www.linkedin.com/in/inmasalcedo/ target="_blank">
                        <i class="fab fa-linkedin-in"></i></a>
                        <span>·</span>
                        <a href=https://github.com/InmaSalcedo target="_blank"><i class="fab fa-github-alt"></i></a>
                        <span>·</span>
                        <a href="mailto:inma.salcedo.gonzalez@gmail.com"><i class="fas fa-envelope"></i></a>
                </div> 
            </div>
            </div>
            <div class="ficha">
                <div class="img imgMa"></div>
                <div class="data">
                <h3 class="name">Marina Ramos</h3>
                <p class="paragraph textquery">Diplomada en empresariales y trabajadora de banca por inercia pero con una espinita creativa a la que voy a dar salida en esta nueva aventura. Disfrutando esta nueva aventura con ganas de ser mi mejor versión</p>
                <div class="social">
                    <a href=https://twitter.com/MarinaR17263717 target="_blank"><i class="fab fa-twitter"></i></a>                    
                    <span>·</span>
                    <a href=https://www.linkedin.com/in/marina-ramos-391976b0/ target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <span>·</span>
                    <a href=https://github.com/minamrp target="_blank"><i class="fab fa-github-alt"></i></a>
                    <span>·</span>
                    <a href="mailto:ramosp.marina@gmail.com"><i class="fas fa-envelope"></i></a>
                </div> 
                </div>
            </div>
        </section>

    </main>
    <footer>
        <div class="wrapper-footer">

            <div class="container-copy-nav"> 
                <div class="copyright"><small>CHASING4CODE © 2018</small></div>
                <ul class="footer-nav nodeco">
                        <li><a href="#team">EQUIPO</a></li>
                        <li><a href="#whoWeAre">QUIENES SOMOS</a></li>
                        <li><a href="contact.html">CONTACTO</a></li>
                    </ul>
                    <div class="logo"><a href="https://adalab.es" target="_blank"><img class="adalab-logo" src="assets/images/logo-adalab.png"
                        alt="Logo-adalab"></a>
            </div>
            
    </div>

        </div>
    
    </footer>
</body>
</html>