#team {
  position: relative;
  max-width: 601px;
  padding-bottom: 60px;
  margin: auto;
  /* relative because pseudo element triangle needs it */
}

.box_team-style {
  font-family: $fontText;
  font-size: 16px;
  color: $paragraph;
  text-align: center;
  width: 90%;
  margin: auto;
}

/* pseudo element triangle separator at the end of TEAM section */
#team:after {
  border-top: 30px solid #ffffff;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  bottom: -25px;
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -25px;
  width: 0;
  height: 0;
}

.box_team {
  padding-top: 15px;
}

.box_top {
  padding-top: 67px;
}

@media all and (min-width: 768px) {
  #team {
    width: 100%;
    max-width: 601px;
    padding-bottom: 60px;
    margin: auto;
  }

  .box_team {
    padding: 15px 0 0;
  }

  .box_top {
    padding-top: 45px;
  }
}

/*Responsive para team 1200px*/

@media all and (min-width: 1200px) {
  #team {
    width: 100%;
    display: block;
    width: 601px;
    padding-bottom: 60px;
    margin: auto;
    margin-top: 129px;
  }

  .box_team {
    padding: 15px 0 0;
  }

  .box_top {
    padding-top: 45px;
  }
}
