.title {
  font-family: $fontTitle;
  color: $sectionTitles;
  display: block;
  text-align: center;
  font-weight: 500;
}

.title1 {
  font-size: 24px;
}

.title2 {
  font-size: 22px;
}

.paragraph {
  font-family: $fontText;
  font-size: 16px;
  color: $paragraph;
  text-align: center;
  width: 90%;
  margin: auto;
}

.adjustws {
  padding-top: 30px;
  padding-bottom: 45px;
}

.padding15 {
  padding: 15px 0;
}

.weak-strength {
  background-color: $backgroundWandS;
}

@media all and (min-width:768px) {

  .adjustws {
    padding-top: 0;
    padding-bottom: 0;
  }

  .paddingbigscreen {
    padding-top: 45px;
    padding-bottom: 60px;
  }

  .weak-strength {
    display: flex;
  }

  .container_week {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 924px;
  }

  .box {
    max-width: 450px;
  }

  .box1_pa {
    margin-left: 45px;
    margin-right: 15px;
  }

  .box2_pa {
    margin-left: 15px;
    margin-right: 45px;
  }
}

@media all and (min-width:1200px) {


  .paddingbigscreen {
    padding-top: 45px;
    padding-bottom: 60px;
  }


  .weak-strength {
    display: flex;
  }

  .container_week {
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 924px;
  }

  .box1 {
    max-width: 50%;

  }

  .box2 {
    max-width: 50%;

  }

  .box1_pa {

    margin-right: 22.5px;
    margin-left: 0;
  }

  .box2_pa {
    margin-left: 22.5px;
    margin-right: 0;
  }

}
