

$fontTitle: 'Rubik', sans-serif;
$fontText: 'Open Sans', sans-serif;

%nodeco {
    text-decoration: none;
}

$darkGreen: #099d8d;
$NameHeaderBackground:rgba(9, 157, 141, 0.98); 

$lightGreen: #14d9c4;
$navHeaderBackground:rgba(20, 217, 196, 0.95);

$white: #ffffff;
$claimBrackground:  rgba(231, 241, 240, 0.80);

$black: #000000;
$darkGrey: #54585a;

$lightGrey: #b8b8b9;

$backgroundGrey: #f1f1f1;

$sectionTitles: $darkGreen;
$paragraph: $darkGrey;
$colorNameHeader: $white;
$colorNavHeader: $white;
$colorClaim: $black;
$backgroundWandS: $backgroundGrey;
$socialIcons:$darkGreen;
$copyright: $lightGrey;
$colorNavFooter: $lightGrey o $darkGrey;
$BorderFooter: $lightGrey;